<div class="modal-header msp-modal-header">
    <div>
        <h3 class="msp-modal-title" id="msp-quickadd-title">{{LineItem.Product.Name}}</h3>
        <p class="msp-modal-price" ng-if="LineItem.PriceSchedule.PriceBreaks[0] && !(user.Permissions.contains('HidePricing'))">
            {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
        </p>
    </div>
    <button type="button" class="msp-icon-btn" ng-click="close()" aria-label="{{'Close' | r | xlat}}">
        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" aria-hidden="true"><path d="M6 6l12 12M18 6L6 18"></path></svg>
    </button>
</div>
<div class="modal-body mt-quickadd-modal-body">
    <loadingindicator ng-show="modalLoading"></loadingindicator>

    <div ng-show="!modalLoading && !needsFullPdpFallback">
        <kitaddtoorderspecs template="{{LineItem.Product.InteropID}}"></kitaddtoorderspecs>

        <div class="mt-field">
            <label>{{'Quantity' | r | xlat}}</label>
            <quantityfield lineitem="LineItem" required="true" class="quantity"></quantityfield>
        </div>

        <ul class="msp-single-errors" role="alert" ng-show="addAttempted && lineItemErrors.length">
            <li ng-repeat="e in lineItemErrors">{{e | xlat}}</li>
        </ul>

        <p class="msp-card-note msp-card-error" role="alert" ng-show="errorMessage">{{errorMessage}}</p>
    </div>

    <div ng-show="!modalLoading && needsFullPdpFallback">
        <p class="msp-card-note">{{'This item has options to choose before adding to your cart.' | r | xlat}}</p>
    </div>
</div>
<div class="modal-footer msp-modal-footer">
    <button type="button" class="msp-btn msp-btn-outline" ng-click="close()">{{'Cancel' | r | xlat}}</button>
    <a ng-if="!modalLoading && needsFullPdpFallback" href="{{(LineItem.Product.Type == 'Kit' ? 'kit' : 'product') + '/' + LineItem.Product.InteropID}}" class="msp-btn msp-btn-accent">
        {{'Select options' | r | xlat}}
    </a>
    <button ng-if="!modalLoading && !needsFullPdpFallback" type="button" class="msp-btn msp-btn-accent" ng-click="confirmAdd()" ng-disabled="addToOrderIndicator">
        <i ng-show="addToOrderIndicator" class="fa fa-spinner fa-spin"></i>
        {{'Add to cart' | r | xlat}}
    </button>
</div>
